@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#navigationHeader {
  height: 70px;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  #navLinks {
    margin-left: 10px;

    .navLink {
      align-items: center;
      display: inline-block;
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 1.2em;

      a {
        text-decoration: none;
      }

      a:link {
        color: white;
      }
      a:visited {
        color: white;
      }
      a.activeLink:link {
        color: map-get($mat-orange, A200);
      }
      a.activeLink:visited {
        color: map-get($mat-orange, A200);
      }
    }

  }

  #logoutUserInfo {
    text-align: right;
    margin-right: 10px;

    #logoutMessage {
      color: #999;
      font-size: 0.8em;
    }

    #logoutUser {
      font-size: 1.2em;
    }

  }

}

#navigationContent {
  flex-grow: 1;
  flex: 100%;
  display: flex;
}
