<div class="inspectorOptional" *ngIf="node">
  <div class="nodeName">{{node.name()}}</div>
  <div class="nodeHeader">Path: {{node.path()}}</div>
  <div class="nodeHeader">Node Type: {{node.nodeType()}}</div>

  <mat-card class="inspectorPropertiesCard">
    <mat-card-title class="inspectorPropsTitle">Properties</mat-card-title>
    <mat-card-content>
      <table mat-table class="propertyTable" [dataSource]="dataSource">
        <!-- Name column -->
        <ng-container matColumnDef="propertyName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let property"> {{property.name}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="propertyType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let property"> {{property.type}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="propertyValue">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let property"> {{property.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>


</div>

