<div id="navigationHeader">

  <div id="navLinks">
    <div class="navLink"><a [routerLink]="['/browse']" routerLinkActive="activeLink">Browse</a></div>
    <div class="navLink"><a [routerLink]="['/security']" routerLinkActive="activeLink">Security</a></div>
    <div class="navLink"><a [routerLink]="['/nodetypes']" routerLinkActive="activeLink">Node Types</a></div>
  </div>

  <div id="logoutUserInfo" (mousedown)="loginModel.logout()">
    <div id="logoutMessage">Log out</div>
    <div id="logoutUser">{{loginModel.username}}</div>
  </div>

</div>

<div id="navigationContent">
  <router-outlet></router-outlet>
</div>
